* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

html {
  font-size: 65.5%;
  scroll-behavior: smooth; }

ul {
  list-style: none; }

button {
  background: none;
  border: none; }

body {
  width: 100%;
  background: pink; }

.l-main {
  background: #0cb946; }

.l-about-top {
  width: 100%;
  background: #FFFFFF;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem; }
  .l-about-top__title {
    color: #82191E;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 3.2rem;
    text-align: center;
    letter-spacing: 0.04em;
    line-height: 115.8%;
    padding: 0.8em 0; }
  .l-about-top__text--semibold {
    color: #000000;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 135.8%;
    letter-spacing: 0.145em;
    text-align: center;
    padding: 0 2em; }
  .l-about-top__text {
    color: #000000;
    font-family: "Work Sans", sans-serif;
    font-size: 1.4rem;
    text-align: center;
    padding: 2rem; }
  .l-about-top__img {
    width: 30rem;
    padding: 1rem; }

.l-services {
  width: 100%;
  background: gold; }

.l-testimonials {
  width: 100%;
  background: olivedrab; }
  .l-testimonials__img {
    width: 300px; }

.l-about-bottom {
  width: 100%;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  background: #FFFFFF; }
  .l-about-bottom__header {
    color: #82191E;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center; }
  .l-about-bottom__img {
    width: 300px; }
  .l-about-bottom__para-one {
    color: #000000;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
    padding: 1rem; }
  .l-about-bottom__para-two {
    color: #000000;
    font-family: "Work Sans", sans-serif;
    font-size: 1.4rem;
    text-align: center;
    padding: 2rem; }

.l-credentials {
  display: none; }

.l-hero {
  min-height: 74vh;
  position: relative; }
  .l-hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(119.7deg, rgba(0, 0, 0, 0.46) 17.42%, rgba(0, 0, 0, 0) 72.72%), linear-gradient(70.83deg, rgba(0, 0, 0, 0.34) -6.59%, rgba(0, 0, 0, 0) 24.09%, rgba(0, 0, 0, 0) 71.66%), url("../img/hero-img.jpg");
    background-repeat: no-repeat;
    background-size: 840px auto;
    background-position: 87% 0%; }
  .l-hero__container {
    position: relative;
    width: 100%;
    height: 100%; }

.c-top-nav {
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  padding: 1.5rem; }
  .c-top-nav__logo--main {
    height: 27px;
    margin: 2.5rem 0; }
  .c-top-nav__logo--hamburger {
    width: 33px;
    height: 26px; }
  .c-top-nav__container {
    display: none; }

.c-cta-container {
  display: flex;
  flex-flow: wrap column;
  align-items: center; }
  .c-cta-container__title {
    color: #FFFFFF;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 0.2rem;
    padding: 7rem 0 4.2rem 0;
    width: 19ch; }
  .c-cta-container__text {
    display: none; }
  .c-cta-container__btn--small-screen {
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    padding: 1.2em 1.9em;
    margin: 1rem 0;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    cursor: pointer; }

@media (min-width: 601px) and (max-width: 1023px) {
  .l-hero {
    min-height: 90vh; }
    .l-hero::before {
      background-image: linear-gradient(75.79deg, rgba(0, 0, 0, 0.65) -6.31%, rgba(0, 0, 0, 0.26) 63.49%, rgba(0, 0, 0, 0) 107.27%), url("../img/hero-img.jpg");
      background-size: auto 1036px;
      background-position: 100% 100%; }

  .c-top-nav {
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10rem 0rem; }
    .c-top-nav__logo--main {
      height: 48px; }
    .c-top-nav__logo--hamburger {
      position: absolute;
      width: 43px;
      height: 38.28px;
      right: 3rem; }

  .c-cta-container {
    padding: 7.5rem 0rem; }
    .c-cta-container__title {
      font-size: 4.9rem;
      letter-spacing: 0.4rem;
      padding: 7rem 0 10rem 0;
      line-height: 6rem; }
    .c-cta-container__btn--medium-screen {
      font-family: "Work Sans", sans-serif;
      border: 4px solid #FFFFFF;
      font-size: 2.6rem;
      padding: 1.2em 3em;
      letter-spacing: 0.4rem; }

  .l-credentials {
    display: block;
    width: 100%;
    height: 10vh;
    background: orangered; } }
@media (min-width: 1024px) {
  .l-hero {
    min-height: 84vh; }
    .l-hero::before {
      background-image: linear-gradient(125.07deg, rgba(0, 0, 0, 0.46) 15.24%, rgba(0, 0, 0, 0) 77.96%), linear-gradient(69.33deg, rgba(0, 0, 0, 0.34) 0%, rgba(0, 0, 0, 0) 25.4%, rgba(0, 0, 0, 0) 64.78%), url("../img/hero-img.jpg");
      background-size: cover;
      background-position: 100% 25%; }

  .c-top-nav {
    flex-flow: wrap row;
    justify-content: space-between;
    padding: 2.2rem 5rem; }
    .c-top-nav__logo--main {
      height: 27px;
      margin: 2.5rem 0; }
    .c-top-nav__logo--hamburger {
      display: none; }
    .c-top-nav__container {
      display: flex; }
    .c-top-nav__list {
      display: flex;
      align-items: center;
      margin: 0 2rem; }
    .c-top-nav__item {
      font-family: "Work Sans", sans-serif;
      color: #FFFFFF;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.6rem;
      letter-spacing: 0.1rem;
      margin: 0 1.7rem;
      padding: 0.5em 0; }
      .c-top-nav__item--active {
        color: #CF2730;
        border-bottom: 2px solid #FFFFFF; }
      .c-top-nav__item:hover {
        color: #CF2730;
        border-bottom: 2px solid #FFFFFF; }
    .c-top-nav__btn {
      color: #FFFFFF;
      border: 2px solid #FFFFFF;
      padding: 1.2em 1.9em;
      margin: 1rem 0;
      text-transform: uppercase;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 700;
      font-size: 1.3rem;
      letter-spacing: 0.2rem;
      cursor: pointer;
      font-family: "Work Sans", sans-serif;
      font-size: 1.6rem;
      padding: 0.9em 1.2em; }

  .c-cta-container {
    align-items: flex-start;
    padding: 15rem 0 0 12rem; }
    .c-cta-container__title {
      text-align: left;
      font-size: 5.9rem;
      line-height: 6.1rem;
      letter-spacing: 0.5rem;
      padding: 6.7rem 0 3.5rem 0; }
    .c-cta-container__text {
      display: block;
      color: #FFFFFF;
      font-family: "Work Sans", sans-serif;
      font-weight: 600;
      font-size: 2.2rem;
      width: 55ch;
      letter-spacing: 0.07rem; }
    .c-cta-container__btn--large-screen {
      font-size: 1.5rem;
      margin: 3.9rem 0;
      padding: 1em 1.5em; }

  .l-credentials {
    display: block;
    width: 100%;
    height: 10vh;
    background: maroon; } }
.l-header {
  width: 100%;
  background: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.c-email {
  display: none; }

.c-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.6rem; }
  .c-phone__link {
    margin: 0.7rem; }
  .c-phone__img {
    width: 14px;
    height: 16px; }
  .c-phone__number {
    color: #545454; }

.c-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.6rem; }
  .c-mobile__link {
    margin: 0.7rem; }
  .c-mobile__img {
    width: 12px;
    height: 18px; }
  .c-mobile__number {
    color: #545454; }

@media (min-width: 601px) and (max-width: 1023px) {
  .l-header {
    justify-content: flex-end;
    letter-spacing: 0.1rem;
    padding: 0 3rem; }

  .c-email {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.11rem 1.8rem; }
    .c-email__link {
      margin: 0.7rem; }
    .c-email__img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 14px; }
    .c-email__address {
      color: #545454; }

  .c-phone {
    display: none; }

  .c-mobile {
    padding: 0.11rem 1.8rem; }
    .c-mobile__img {
      display: flex;
      justify-content: center;
      align-items: center; }
    .c-mobile__number {
      color: #757575; } }
@media (min-width: 1024px) {
  .l-header {
    justify-content: flex-end;
    font-size: 1.4rem;
    padding: 0 5.5rem; }

  .c-email {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem; }
    .c-email__link {
      margin: 0.48rem 1.8rem; }
    .c-email__img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 17px; }
    .c-email__address {
      color: #545454;
      letter-spacing: 0.07rem; }

  .c-phone {
    display: none; }

  .c-mobile {
    padding: 0 1rem; }
    .c-mobile__link {
      margin: 0.48rem 1.5rem; }
    .c-mobile__img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 14px;
      height: 25px;
      filter: invert(46%) sepia(4%) saturate(13%) hue-rotate(24deg) brightness(97%) contrast(88%); }
    .c-mobile__number {
      letter-spacing: 0.2rem; } }
.l-footer {
  width: 100%;
  background: #3C3C3C;
  display: flex;
  flex-flow: wrap column;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem; }
  .l-footer__nav {
    font-family: "Josefin Sans", sans-serif;
    padding: 2rem;
    order: 1; }
  .l-footer__left {
    order: 2; }
  .l-footer__c-right {
    display: none; }

.c-bottom-nav__item {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.3rem;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.5em 0; }
  .c-bottom-nav__item--active {
    color: #000000; }
  .c-bottom-nav__item:hover {
    color: #000000; }
  .c-bottom-nav__item--hide {
    display: none; }

.c-social-media {
  display: flex;
  justify-content: center;
  margin-bottom: 7rem; }
  .c-social-media__img {
    width: 25px;
    height: 25px;
    margin: 2rem; }
    .c-social-media__img:hover {
      filter: invert(97%); }

.c-logo__img--main {
  height: 43px;
  padding: 1rem; }
.c-logo__img--sec {
  display: none; }

@media (min-width: 601px) and (max-width: 1023px) {
  .l-footer {
    background: #212123;
    flex-flow: wrap row-reverse;
    justify-content: space-around; }
    .l-footer__nav {
      padding: 5rem 0; }
    .l-footer__left {
      display: flex;
      flex-direction: column-reverse; }

  .c-bottom-nav__item {
    text-align: left;
    letter-spacing: 0.3rem;
    font-size: 1rem;
    padding: 0.7em 0; }
    .c-bottom-nav__item--active {
      color: #FFFFFF; }

  .c-social-media {
    margin-bottom: 0; }
    .c-social-media__img {
      width: 23px;
      height: 23px; }

  .c-logo__img--main {
    display: none; }
  .c-logo__img--sec {
    display: block;
    height: 43px;
    margin: 2rem 0 2.5rem 0; } }
@media (min-width: 1024px) {
  .l-footer {
    background: #212123;
    flex-flow: wrap row;
    justify-content: space-around;
    align-items: flex-end;
    padding: 4rem 0; }
    .l-footer__nav {
      order: 2;
      padding: 0; }
    .l-footer__left {
      width: 290px;
      order: 1;
      display: flex;
      flex-flow: wrap row; }
    .l-footer__c-right {
      display: flex;
      flex-flow: wrap column;
      align-items: center;
      order: 3;
      padding: 2rem 0; }

  .c-bottom-nav__item {
    text-align: left;
    letter-spacing: 0.3rem;
    font-size: 1.3rem;
    padding: 0.5em 0; }
    .c-bottom-nav__item--active {
      color: #FFFFFF; }
    .c-bottom-nav__item--hide {
      display: block; }

  .c-social-media {
    order: 4;
    margin-bottom: 0; }
    .c-social-media__img {
      width: 28px;
      height: 28px;
      margin: 3rem 2rem 2rem 0.8rem; }

  .c-logo__img--main {
    display: none; }
  .c-logo__img--sec {
    display: block;
    height: 48px;
    order: 5; }

  .c-right__text {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    color: #FFFFFF;
    margin-bottom: 0.5rem; }
  .c-right__mobile {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 2.3rem;
    letter-spacing: 0.1rem;
    color: #FFFFFF;
    margin-bottom: 2.5rem; }
  .c-right__btn {
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    padding: 1.2em 1.9em;
    margin: 1rem 0;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    cursor: pointer; }

  #home .c-bottom-nav__item--active {
    display: none; }

  #navCareers {
    display: none; } }

/*# sourceMappingURL=style.css.map */
