* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

html {
  font-size: 65.5%;
  scroll-behavior: smooth; }

ul {
  list-style: none; }

button {
  background: none;
  border: none; }

body {
  width: 100%; }

.l-main {
  display: flex;
  flex-direction: column; }

.l-hero {
  position: relative; }
  .l-hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(119.7deg, rgba(0, 0, 0, 0.46) 17.42%, rgba(0, 0, 0, 0) 72.72%), linear-gradient(70.83deg, rgba(0, 0, 0, 0.34) -6.59%, rgba(0, 0, 0, 0) 24.09%, rgba(0, 0, 0, 0) 71.66%), url("../img/hero-img.jpg");
    background-repeat: no-repeat;
    background-size: 840px auto;
    background-position: 87% 0%; }
  .l-hero__container {
    position: relative;
    width: 100%;
    height: 100%; }

.c-top-nav {
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  padding: 1.5rem; }
  .c-top-nav__logo--main {
    height: 27px;
    margin: 2.5rem 0; }
  .c-top-nav__logo--hamburger {
    width: 33px;
    height: 26px;
    cursor: pointer; }
  .c-top-nav__container {
    display: none; }

.c-cta-container {
  display: flex;
  flex-flow: wrap column;
  align-items: center; }
  .c-cta-container__title {
    color: #FFFFFF;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 0.2rem;
    padding: 7rem 0 4.2rem 0;
    width: 19ch; }
  .c-cta-container__text {
    display: none; }
  .c-cta-container__btn--small-screen {
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    padding: 1.2em 1.9em;
    margin: 1rem 0;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
    margin-bottom: 16rem; }
    .c-cta-container__btn--small-screen:hover {
      background: #FFFFFF;
      color: #82191E; }

@media (min-width: 601px) and (max-width: 1023px) {
  .l-hero {
    min-height: 90vh; }
    .l-hero::before {
      background-image: linear-gradient(75.79deg, rgba(0, 0, 0, 0.65) -6.31%, rgba(0, 0, 0, 0.26) 63.49%, rgba(0, 0, 0, 0) 107.27%), url("../img/hero-img.jpg");
      background-size: auto 1036px;
      background-position: 100% 100%; }

  .c-top-nav {
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10rem 0rem; }
    .c-top-nav__logo--main {
      height: 48px; }
    .c-top-nav__logo--hamburger {
      position: absolute;
      width: 43px;
      height: 38.28px;
      right: 3rem; }

  .c-cta-container {
    padding: 7.5rem 0rem; }
    .c-cta-container__title {
      font-size: 4.9rem;
      letter-spacing: 0.4rem;
      padding: 7rem 0 10rem 0;
      line-height: 6rem; }
    .c-cta-container__btn--medium-screen {
      font-family: "Work Sans", sans-serif;
      border: 4px solid #FFFFFF;
      font-size: 2.6rem;
      padding: 1.2em 3em;
      letter-spacing: 0.4rem;
      margin-bottom: 0; } }
@media (min-width: 1024px) {
  .l-hero {
    min-height: 84vh; }
    .l-hero::before {
      background-image: linear-gradient(125.07deg, rgba(0, 0, 0, 0.46) 15.24%, rgba(0, 0, 0, 0) 77.96%), linear-gradient(69.33deg, rgba(0, 0, 0, 0.34) 0%, rgba(0, 0, 0, 0) 25.4%, rgba(0, 0, 0, 0) 64.78%), url("../img/hero-img.jpg");
      background-size: cover;
      background-position: 100% 25%; }

  .c-top-nav {
    flex-flow: wrap row;
    justify-content: space-between;
    padding: 2.2rem 5rem; }
    .c-top-nav__logo--main {
      height: 27px;
      margin: 2.5rem 0; }
    .c-top-nav__logo--hamburger {
      display: none; }
    .c-top-nav__container {
      display: flex; }
    .c-top-nav__list {
      display: flex;
      align-items: center;
      margin: 0 2rem; }
    .c-top-nav__item {
      font-family: "Work Sans", sans-serif;
      color: #FFFFFF;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.6rem;
      letter-spacing: 0.1rem;
      margin: 0 1.7rem;
      padding: 0.5em 0; }
      .c-top-nav__item--active {
        color: #CF2730;
        border-bottom: 2px solid #FFFFFF; }
      .c-top-nav__item:hover {
        color: #CF2730;
        border-bottom: 2px solid #FFFFFF; }
    .c-top-nav__btn {
      color: #FFFFFF;
      border: 2px solid #FFFFFF;
      padding: 1.2em 1.9em;
      margin: 1rem 0;
      text-transform: uppercase;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 700;
      font-size: 1.3rem;
      letter-spacing: 0.2rem;
      cursor: pointer;
      font-family: "Work Sans", sans-serif;
      font-size: 1.6rem;
      padding: 0.9em 1.2em; }
      .c-top-nav__btn:hover {
        background: #FFFFFF;
        color: #82191E; }

  .c-cta-container {
    align-items: flex-start;
    padding: 15rem 0 0 12rem; }
    .c-cta-container__title {
      text-align: left;
      font-size: 5.9rem;
      line-height: 6.1rem;
      letter-spacing: 0.5rem;
      padding: 6.7rem 0 3.5rem 0; }
    .c-cta-container__text {
      display: block;
      color: #FFFFFF;
      font-family: "Work Sans", sans-serif;
      font-weight: 600;
      font-size: 2.2rem;
      width: 55ch;
      letter-spacing: 0.07rem; }
    .c-cta-container__btn--large-screen {
      font-size: 1.5rem;
      margin: 3.9rem 0;
      padding: 1em 1.5em; } }
.l-about-top {
  width: 100%;
  background: #FFFFFF;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0rem; }
  .l-about-top__title {
    color: #82191E;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 3.2rem;
    text-align: center;
    letter-spacing: 0.04em;
    line-height: 115.8%;
    padding: 0.7em 0;
    width: 18ch; }
  .l-about-top__text--semibold {
    color: #000000;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 135.8%;
    letter-spacing: 0.145em;
    text-align: center;
    padding: 0.3em 0;
    width: 30ch; }
  .l-about-top__text {
    color: #000000;
    font-family: "Work Sans", sans-serif;
    font-size: 1.4rem;
    text-align: center;
    line-height: 135.8%;
    letter-spacing: 0.145em;
    padding: 2rem 0;
    width: 32ch; }

.l-about-top__left {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center; }

.right__img {
  height: 196.24px;
  margin: 1.5rem; }

@media (min-width: 601px) and (max-width: 1023px) {
  .l-about-top {
    padding: 3.5rem 2rem; }
    .l-about-top__title {
      font-size: 4.5rem;
      width: 18ch;
      padding: 0.3em 0; }
    .l-about-top__text--semibold {
      width: 40ch; }
    .l-about-top__text {
      width: 50ch; }

  .right__img {
    height: 258px; } }
@media (min-width: 1024px) {
  .l-about-top {
    display: flex;
    flex-flow: wrap row;
    padding: 3.5rem 0; }
    .l-about-top__left {
      width: 46%;
      margin-right: 2rem;
      padding-top: 6rem;
      padding-bottom: 4rem; }
    .l-about-top__right {
      width: 377px; }
    .l-about-top__title {
      font-size: 4.5rem;
      text-align: left;
      letter-spacing: 0.07em;
      width: 18ch;
      padding: 0.3em 0; }
    .l-about-top__text--semibold {
      text-align: left;
      width: 40ch; }
    .l-about-top__text {
      text-align: left;
      width: 50ch; }

  .l-about-top__left {
    display: block; }

  .right__img {
    height: 258px;
    margin: 0; } }
.l-services {
  width: 100%; }

.c-services-container {
  background: url("../img/services-home-build.jpg");
  background-repeat: no-repeat;
  background-size: 2800px auto;
  background-position: 72.7% 34%; }
  .c-services-container__item {
    width: 30ch;
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: #FFFFFF;
    line-height: 139.8%;
    letter-spacing: 0.145em;
    cursor: pointer; }

@media (max-width: 600px) {
  .c-services-container {
    padding: 4rem 1.2rem; }
    .c-services-container__box {
      border-bottom: 2px solid #FFFFFF;
      margin: 2rem 1rem; }
      .c-services-container__box--shortest {
        width: 126px; }
      .c-services-container__box--short {
        width: 133px; }
      .c-services-container__box--medium {
        width: 153px; }
      .c-services-container__box--long {
        width: 160px; }
    .c-services-container__item:hover {
      color: #82191E; }

  .c-mobile-title {
    margin: 1.5rem 0 3rem 0; }
    .c-mobile-title__box {
      background: #82191E;
      width: 314px;
      height: 47px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      padding: 0.2rem 0 0 0.5rem;
      margin: 0.7rem 0; }
    .c-mobile-title__title {
      font-family: "Josefin Sans", sans-serif;
      font-weight: 700;
      font-size: 4.5rem;
      color: #FFFFFF;
      text-transform: uppercase;
      line-height: 115.8%;
      letter-spacing: 0.145em; }

  .c-right-container {
    display: none; }

  .c-body-tablet {
    display: none; } }
@media (min-width: 601px) and (max-width: 1023px) {
  .c-mobile-title {
    display: none; }

  .c-services-container {
    background-size: auto;
    background-position: 97% 48.5%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 3rem 3rem 3rem 2rem; }
    .c-services-container__item {
      display: inline-block;
      width: auto;
      font-size: 1.6rem;
      line-height: 169.8%;
      background: rgba(33, 33, 35, 0.95);
      padding: 0.5rem 1rem 0.5rem 3rem;
      margin: 0.6rem 0;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
      .c-services-container__item--small-text {
        width: 35ch;
        font-size: 1.3rem;
        padding-right: 1rem; }
      .c-services-container__item--active {
        text-decoration: underline;
        background: #82191E; }
      .c-services-container__item:hover {
        background: #82191E;
        text-decoration: underline; }

  .c-right-container__heading {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 2.6rem;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: right;
    color: #FFFFFF;
    background: #82191E;
    padding: 0.7em 0.4em 0.3em 2em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

  .c-right-container__text {
    display: none; }

  .c-body-tablet {
    position: relative;
    background: #212123;
    padding: 5rem 10.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1; }
    .c-body-tablet__text {
      color: #FFFFFF;
      font-family: "Work Sans", sans-serif;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 135.8%;
      letter-spacing: 0.105em;
      text-align: center; } }
@media (min-width: 1024px) {
  .c-mobile-title {
    display: none; }

  .c-services-container {
    background-size: cover;
    padding: 8rem 4.5rem 5rem 11rem; }
    .c-services-container__item {
      display: inline-block;
      width: auto;
      font-size: 1.6rem;
      line-height: 169.8%;
      background: rgba(33, 33, 35, 0.95);
      padding: 0.5rem 1.5rem 0.5rem 2rem;
      margin: 0.6rem 0;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
      .c-services-container__item--small-text {
        width: 27ch; }
      .c-services-container__item--active {
        text-decoration: underline;
        background: #82191E; }
      .c-services-container__item:hover {
        background: #82191E;
        text-decoration: underline; }

  .c-right-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    .c-right-container__heading {
      display: inline-block;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 700;
      font-size: 3.9rem;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      text-align: right;
      color: #FFFFFF;
      background: #82191E;
      padding: 0.5em 0.4em 0.2em 2em;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
    .c-right-container__text {
      display: inline-block;
      width: 56ch;
      font-family: "Work Sans", sans-serif;
      font-weight: 400;
      font-size: 1.4rem;
      color: #FFFFFF;
      line-height: 135.8%;
      letter-spacing: 0.105em;
      text-align: right;
      background: #212123;
      padding: 0.8em 1.3em 0.8em 4em;
      margin-top: 2rem; }

  .c-body-tablet {
    display: none; } }
.l-header {
  width: 100%;
  background: #FFFFFF; }
  .l-header__top {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .l-header__bottom {
    display: flex;
    justify-content: center;
    align-items: center; }
  .l-header__menu-icon {
    display: none;
    cursor: pointer; }

.c-email {
  display: none; }

.c-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.6rem; }
  .c-phone__link {
    margin: 0.7rem; }
  .c-phone__img {
    width: 14px;
    height: 16px; }
  .c-phone__number {
    color: #545454; }

.c-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.6rem; }
  .c-mobile__link {
    margin: 0.7rem; }
  .c-mobile__img {
    width: 12px;
    height: 18px; }
  .c-mobile__number {
    color: #545454; }

.c-nav {
  display: none; }

@media (max-width: 600px) {
  .l-header__bottom {
    background: url(../img/header-nav.jpg) no-repeat;
    background-size: auto 558px;
    background-position: 52% 22%; }
    .l-header__bottom--projects {
      justify-content: space-between;
      background-size: auto 600px;
      background-position: 54% 22%;
      padding: 2.2rem 2.5rem; }
  .l-header__logo {
    height: 27px;
    margin: 1.9rem .l-header__logo --projects;
      margin-height: 22px; }
  .l-header__menu-icon--projects {
    display: block;
    width: 23px; } }
@media (min-width: 601px) and (max-width: 1023px) {
  .l-header__top {
    justify-content: flex-end;
    letter-spacing: 0.1rem;
    padding: 0 3rem; }
  .l-header__bottom {
    justify-content: space-between;
    background: url(../img/header-nav.jpg) no-repeat;
    background-size: auto 796px;
    background-position: 54% 20%;
    padding: 0 6rem; }
  .l-header__logo {
    height: 48px;
    margin: 3rem 0 2.4rem 1.5rem; }
  .l-header__menu-icon {
    display: block;
    height: 30px; }

  .c-email {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.11rem 1.8rem; }
    .c-email__link {
      margin: 0.7rem; }
    .c-email__img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 14px; }
    .c-email__address {
      color: #545454; }

  .c-phone {
    display: none; }

  .c-mobile {
    padding: 0.11rem 1.8rem; }
    .c-mobile__img {
      display: flex;
      justify-content: center;
      align-items: center; }
    .c-mobile__number {
      color: #757575; } }
@media (min-width: 1024px) {
  .l-header__top {
    justify-content: flex-end;
    font-size: 1.4rem;
    padding: 0 5.5rem; }
  .l-header__bottom {
    justify-content: space-between;
    background-image: linear-gradient(75.79deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("../img/header-nav.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 54% 20%;
    padding: 2.3rem 5rem; }
  .l-header__logo {
    height: 27px;
    margin: 3rem 0 2.4rem 0; }

  .c-email {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem; }
    .c-email__link {
      margin: 0.48rem 1.8rem; }
    .c-email__img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 17px; }
    .c-email__address {
      color: #545454;
      letter-spacing: 0.07rem; }

  .c-phone {
    display: none; }

  .c-mobile {
    padding: 0 1rem; }
    .c-mobile__link {
      margin: 0.48rem 1.5rem; }
    .c-mobile__img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 14px;
      height: 25px;
      filter: invert(46%) sepia(4%) saturate(13%) hue-rotate(24deg) brightness(97%) contrast(88%); }
    .c-mobile__number {
      letter-spacing: 0.2rem; }

  .c-nav {
    display: flex; }
    .c-nav__list {
      display: flex;
      align-items: center;
      margin: 0 2rem; }
    .c-nav__item {
      font-family: "Work Sans", sans-serif;
      color: #FFFFFF;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.6rem;
      letter-spacing: 0.1rem;
      margin: 0 1.7rem;
      padding: 0.5em 0; }
      .c-nav__item--active {
        color: #CF2730;
        border-bottom: 2px solid #FFFFFF; }
      .c-nav__item:hover {
        color: #CF2730;
        border-bottom: 2px solid #FFFFFF; }
    .c-nav__btn {
      color: #FFFFFF;
      border: 2px solid #FFFFFF;
      padding: 1.2em 1.9em;
      margin: 1rem 0;
      text-transform: uppercase;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 700;
      font-size: 1.3rem;
      letter-spacing: 0.2rem;
      cursor: pointer;
      font-family: "Work Sans", sans-serif;
      font-size: 1.6rem;
      padding: 0.9em 1.2em; }
      .c-nav__btn:hover {
        background: #FFFFFF;
        color: #82191E; } }
.l-testimonials {
  width: 100%;
  background: #FFFFFF;
  padding: 4rem 1rem 3rem 2rem; }
  .l-testimonials__heading {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 136.8%;
    letter-spacing: 0.145em;
    margin: 2rem 0 3rem 0.5rem; }
  .l-testimonials__arrow {
    display: none; }

.c-slider__next-left {
  cursor: pointer; }
.c-slider__next-right {
  cursor: pointer; }

.c-card-left {
  background: #F2F2F2;
  width: 316px;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 0.9rem 2.5rem 0.9rem;
  position: relative; }
  .c-card-left__img-container {
    width: 118.22px;
    height: 313.77px;
    position: relative;
    margin-right: 2rem; }
  .c-card-left__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 53% 50%; }
  .c-card-left__right {
    width: 53%;
    display: flex;
    flex-flow: wrap column;
    justify-content: flex-end; }
  .c-card-left__arrow {
    width: 11px;
    position: absolute;
    right: 6%;
    top: 9%; }
  .c-card-left__quote {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 136.8%;
    color: #000000; }
  .c-card-left__btn {
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    color: #000000;
    font-size: 1rem;
    letter-spacing: 0.145em;
    border: 1px solid #000000;
    padding: 1em 0.5em;
    cursor: pointer;
    margin: 1rem 0 0.5rem 0; }
    .c-card-left__btn:hover {
      background: #212123;
      color: #FFFFFF;
      border: 1px solid #212123; }

.c-card-right {
  background: #F6F6F6;
  width: 425px;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem; }
  .c-card-right__img-container {
    width: 159px;
    height: 222px;
    position: relative;
    margin-right: 2rem; }
  .c-card-right__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 0%; }
  .c-card-right__right {
    width: 52%;
    display: flex;
    flex-flow: wrap column;
    justify-content: flex-end; }
  .c-card-right__quote {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 136.8%;
    color: #000000; }
  .c-card-right__btn {
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    color: #000000;
    font-size: 1rem;
    letter-spacing: 0.145em;
    border: 1px solid #000000;
    padding: 0.5em;
    cursor: pointer;
    margin: 1.4rem 0 0.6rem 0; }
    .c-card-right__btn:hover {
      background: #212123;
      color: #FFFFFF;
      border: 1px solid #212123; }

@media (max-width: 600px) {
  .l-testimonials {
    position: relative; }
    .l-testimonials__arrow {
      display: block;
      width: 77px;
      position: absolute;
      top: 33%;
      right: 25%; }

  .c-slider__next-left {
    display: none; }
  .c-slider__next-right {
    width: 16px;
    height: 28px;
    position: absolute;
    bottom: 30%;
    right: 5%; }

  .c-card-right {
    display: none; } }
@media (min-width: 601px) and (max-width: 1023px) {
  .l-testimonials {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    padding: 6rem 0; }
    .l-testimonials__heading {
      font-size: 3.6rem;
      text-align: center;
      margin: 1rem 0 3rem 0; }

  .c-slider {
    display: flex;
    justify-content: center;
    align-items: center; }
    .c-slider__next-left {
      width: 16px;
      height: 28px;
      margin-right: 7rem; }
    .c-slider__next-right {
      width: 16px;
      height: 28px;
      margin-left: 7rem; }

  .c-card-left {
    display: none; } }
@media (min-width: 1024px) {
  .l-testimonials {
    padding: 6rem 0; }
    .l-testimonials__heading {
      justify-self: start;
      font-size: 3.6rem;
      margin: 1rem 0 3rem 13rem; }

  .c-slider {
    display: flex;
    justify-content: center;
    align-items: center; }
    .c-slider__next-left {
      width: 16px;
      height: 28px;
      margin-right: 1rem; }
    .c-slider__next-right {
      width: 16px;
      height: 28px;
      margin-left: 1rem; }

  .c-card-left {
    background: #F6F6F6;
    width: 425px;
    padding: 1.5rem;
    margin: 0 3rem; }
    .c-card-left__img-container {
      width: 159px;
      height: 222px; }
    .c-card-left__arrow {
      display: none; }
    .c-card-left__btn {
      padding: 0.5em;
      margin: 1.4rem 0 0.6rem 0; }

  .c-card-right {
    margin: 0 3rem; } }
.l-about-bottom {
  width: 100%;
  background: #FFFFFF; }
  .l-about-bottom__container {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0 5.5rem 0; }
  .l-about-bottom__mobile-header {
    display: none; }
  .l-about-bottom__img {
    width: 297px;
    margin: 2.2rem 0; }

.c-about-right-col {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .c-about-right-col__header {
    color: #82191E;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.9rem;
    text-align: center;
    letter-spacing: 0.095em; }
  .c-about-right-col__text--semibold {
    width: 29ch;
    color: #000000;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
    letter-spacing: 0.065em;
    text-align: center;
    padding: 0.4rem 0; }
  .c-about-right-col__text {
    width: 30ch;
    color: #000000;
    font-family: "Work Sans", sans-serif;
    font-size: 1.4rem;
    text-align: center;
    padding: 1.5rem 0; }

.c-about-right-col__cta {
  display: none; }

.c-about-right-col__social-media {
  display: none; }

@media (max-width: 600px) {
  .l-about-bottom__mobile-header {
    display: block;
    color: #82191E;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.9rem;
    text-align: center;
    letter-spacing: 0.095em; }

  .c-about-right-col__header {
    display: none; }

  .c-about-right-col__cta {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .c-about-right-col__btn {
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    padding: 1.2em 1.9em;
    margin: 1rem 0;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
    color: #000000;
    border: 2px solid #000000;
    margin: 3rem 0; }
    .c-about-right-col__btn:hover {
      background: #FFFFFF;
      color: #82191E; }
    .c-about-right-col__btn:hover {
      background: #82191E;
      color: #FFFFFF;
      border: 2px solid #FFFFFF; }
  .c-about-right-col__text--bold {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    letter-spacing: 0.145em;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 2.5rem; }
  .c-about-right-col__prompt {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0.145em;
    color: #000000; }
  .c-about-right-col__mobile {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 2.3rem;
    letter-spacing: 0.145em;
    color: #000000;
    padding: 0.6rem; } }
@media (min-width: 601px) and (max-width: 1023px) {
  .l-about-bottom {
    position: relative; }
    .l-about-bottom::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("../img/about-bottom-background.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
      filter: brightness(13%);
      background-position: 50% 21%; }
    .l-about-bottom__container {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 4.5rem 0 3.7rem 0; }
    .l-about-bottom__img {
      display: none; }

  .c-about-right-col__header {
    color: #CF2730;
    font-size: 3.6rem; }
  .c-about-right-col__text--semibold {
    color: #FFFFFF;
    font-size: 2.4rem;
    letter-spacing: 0.015em;
    line-height: 28px;
    padding: 1.5rem 0; }
  .c-about-right-col__text {
    width: 39ch;
    color: #FFFFFF;
    font-size: 1.6rem;
    line-height: 19px;
    letter-spacing: 0.065em;
    padding: 1rem 0; } }
@media (min-width: 1024px) {
  .l-about-bottom__container {
    flex-flow: wrap row;
    justify-content: space-evenly;
    padding: 6rem 0 5rem 0; }
  .l-about-bottom__mobile-header {
    display: none; }
  .l-about-bottom__img {
    width: 389px;
    margin: 0; }

  .c-about-right-col {
    align-items: flex-start; }
    .c-about-right-col__header {
      font-size: 3.5rem;
      text-align: left; }
    .c-about-right-col__text--semibold {
      font-size: 2.3rem;
      letter-spacing: 0.015em;
      text-align: left;
      padding: 2.5rem 0; }
    .c-about-right-col__text {
      width: 40ch;
      font-size: 1.6rem;
      letter-spacing: 0.065em;
      text-align: left;
      padding: 0; }
    .c-about-right-col__social-media {
      display: block; }
    .c-about-right-col__sm-heading {
      color: #000000;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.145em;
      font-size: 1.8rem;
      padding: 5rem 0 2.5rem 0; }
    .c-about-right-col__img {
      filter: invert(100%);
      height: 32px;
      margin-left: 2.5rem; } }
.l-credentials {
  display: none; }

@media (min-width: 1024px) {
  .l-credentials {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: url(../img/credentials-img.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 62%;
    padding: 4rem 0; }
    .l-credentials__nzcb-img {
      height: 224px; }
    .l-credentials__lbp-img {
      height: 214px; }
    .l-credentials__halo-img {
      height: 147px; } }
.l-footer {
  width: 100%;
  background: #3C3C3C;
  display: flex;
  flex-flow: wrap column;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem; }
  .l-footer__nav {
    font-family: "Josefin Sans", sans-serif;
    padding: 2rem;
    order: 1; }
  .l-footer__left {
    order: 2; }
  .l-footer__c-right {
    display: none; }

.c-bottom-nav__item {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.3rem;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.5em 0; }
  .c-bottom-nav__item--active {
    color: #000000; }
  .c-bottom-nav__item:hover {
    color: #000000; }
  .c-bottom-nav__item--hide {
    display: none; }

.c-social-media {
  display: flex;
  justify-content: center;
  margin-bottom: 7rem; }
  .c-social-media__img {
    width: 25px;
    height: 25px;
    margin: 2rem; }
    .c-social-media__img:hover {
      filter: invert(97%); }

.c-logo__img--main {
  height: 43px;
  padding: 1rem; }
.c-logo__img--sec {
  display: none; }

@media (min-width: 601px) and (max-width: 1023px) {
  .l-footer {
    background: #212123;
    flex-flow: wrap row-reverse;
    justify-content: space-around; }
    .l-footer__nav {
      padding: 5rem 0; }
    .l-footer__left {
      display: flex;
      flex-direction: column-reverse; }

  .c-bottom-nav__item {
    text-align: left;
    letter-spacing: 0.3rem;
    font-size: 1rem;
    padding: 0.7em 0; }
    .c-bottom-nav__item--active {
      color: #FFFFFF; }

  .c-social-media {
    margin-bottom: 0; }
    .c-social-media__img {
      width: 23px;
      height: 23px; }

  .c-logo__img--main {
    display: none; }
  .c-logo__img--sec {
    display: block;
    height: 43px;
    margin: 2rem 0 2.5rem 0; } }
@media (min-width: 1024px) {
  .l-footer {
    background: #212123;
    flex-flow: wrap row;
    justify-content: space-around;
    align-items: flex-end;
    padding: 4rem 0; }
    .l-footer__nav {
      order: 2;
      padding: 0; }
    .l-footer__left {
      width: 290px;
      order: 1;
      display: flex;
      flex-flow: wrap row; }
    .l-footer__c-right {
      display: flex;
      flex-flow: wrap column;
      align-items: center;
      order: 3;
      padding: 2rem 0; }

  .c-bottom-nav__item {
    text-align: left;
    letter-spacing: 0.3rem;
    font-size: 1.3rem;
    padding: 0.5em 0; }
    .c-bottom-nav__item--active {
      color: #FFFFFF; }
    .c-bottom-nav__item--hide {
      display: block; }

  .c-social-media {
    order: 4;
    margin-bottom: 0; }
    .c-social-media__img {
      width: 28px;
      height: 28px;
      margin: 3rem 2rem 2rem 0.8rem; }

  .c-logo__img--main {
    display: none; }
  .c-logo__img--sec {
    display: block;
    height: 48px;
    order: 5; }

  .c-right__text {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    color: #FFFFFF;
    margin-bottom: 0.5rem; }
  .c-right__mobile {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 2.3rem;
    letter-spacing: 0.1rem;
    color: #FFFFFF;
    margin-bottom: 2.5rem; }
  .c-right__btn {
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    padding: 1.2em 1.9em;
    margin: 1rem 0;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    cursor: pointer; }
    .c-right__btn:hover {
      background: #FFFFFF;
      color: #82191E; }

  #home .c-bottom-nav__item--active {
    display: none; }

  #navCareers {
    display: none; } }
.l-main-contact {
  background: #FFFFFF;
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  padding: 4rem 0 2rem 0; }
  .l-main-contact__heading {
    font-family: "Josefin Sans", sans-serif;
    color: #000000;
    font-weight: 700;
    text-align: center;
    font-size: 2.4rem;
    letter-spacing: 0.145em; }
  .l-main-contact__underline {
    border-bottom: 3px solid #000000;
    width: 65px;
    margin-top: 1rem; }

.c-form {
  width: 336px;
  display: flex;
  flex-flow: wrap column;
  padding: 3rem 0; }
  .c-form__label {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    color: #000000;
    font-size: 2.4rem;
    margin: 2rem 0 0.5rem 0; }
  .c-form__input {
    width: 100%;
    border: 2px solid #000000;
    outline: none;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    color: #000000;
    font-size: 2.4rem;
    padding: 0.2rem 1rem; }
  .c-form__textarea {
    width: 100%;
    border: 2px solid #000000;
    resize: none;
    outline: none;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    color: #000000;
    font-size: 2.4rem;
    padding: 0.2rem 1rem; }
  .c-form__btn {
    width: 162px;
    border: 2px solid #000000;
    background: #C4C4C4;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    color: #000000;
    font-size: 2.4rem;
    padding: 0.4rem 0;
    margin: 2rem 0;
    cursor: pointer; }
    .c-form__btn:hover {
      background: #CF2730;
      color: #FFFFFF;
      border: 2px solid #CF2730; }

.c-contact-details {
  width: 345px;
  display: flex;
  flex-flow: wrap column;
  margin-top: 3rem; }
  .c-contact-details__mobile {
    display: flex;
    align-items: flex-start;
    margin-bottom: 3rem; }
  .c-contact-details__email {
    display: flex;
    align-items: flex-start;
    margin-bottom: 3rem; }
  .c-contact-details__hours {
    display: flex;
    align-items: flex-start;
    margin-bottom: 3rem; }
  .c-contact-details__mobile-img {
    width: 39px;
    margin-right: 4.5rem; }
  .c-contact-details__email-img {
    width: 43px;
    margin-right: 4rem; }
  .c-contact-details__clock-img {
    width: 41px;
    margin-right: 4rem; }
  .c-contact-details__heading {
    font-family: "Josefin Sans", sans-serif;
    color: #000000;
    font-weight: 700;
    font-size: 2.6rem;
    letter-spacing: 0.145em; }
  .c-contact-details__text {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 1.8rem;
    letter-spacing: 0.145em;
    padding: 1rem 0; }
    .c-contact-details__text--large-screen {
      display: none; }

@media (min-width: 601px) and (max-width: 1023px) {
  .l-main-contact {
    padding: 6rem 0 4rem 0; }
    .l-main-contact__heading {
      font-size: 3.6rem; }
    .l-main-contact__underline {
      width: 47px; }

  .c-form {
    width: 442px;
    padding: 6rem 0; }
    .c-form__btn {
      width: 213px;
      background: #FFFFFF; }

  .c-contact-details {
    width: 442px; } }
@media (min-width: 1024px) {
  .l-main-contact {
    padding: 5rem 0 2rem 0; }
    .l-main-contact__container {
      width: 100%;
      display: flex;
      flex-flow: wrap row-reverse;
      justify-content: space-evenly;
      padding: 5rem 0 7rem 0; }
    .l-main-contact__heading {
      font-size: 3.6rem; }

  .c-form {
    width: 412px;
    padding: 0; }
    .c-form__input--short {
      width: 199px; }
    .c-form__btn {
      width: 162px;
      background: #FFFFFF; }

  .c-contact-details__mobile {
    margin-bottom: 11rem; }
  .c-contact-details__email {
    margin-bottom: 11rem; }
  .c-contact-details__hours {
    margin-bottom: 11rem; }
  .c-contact-details__text--smaller-screen {
    display: none; }
  .c-contact-details__text--large-screen {
    display: block;
    font-size: 1.7rem;
    letter-spacing: 0.035em; } }
.l-main-projects {
  background: #FFFFFF;
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  padding: 5rem 0 1.2rem 0; }
  .l-main-projects__heading {
    font-family: "Josefin Sans", sans-serif;
    color: #000000;
    font-weight: 700;
    text-align: center;
    font-size: 2.4rem;
    letter-spacing: 0.145em; }
  .l-main-projects__underline {
    border-bottom: 3px solid #000000;
    width: 65px;
    margin: 1rem 0 4rem 0; }
  .l-main-projects__card-container {
    display: flex;
    flex-flow: wrap column;
    align-items: center; }

.c-card {
  width: 387px;
  height: 282px;
  margin-top: 1.2rem;
  cursor: pointer; }
  .c-card__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding: 1rem; }
    .c-card__container:hover {
      background: rgba(255, 255, 255, 0.5); }
  .c-card__description {
    width: 62%;
    background: #838383;
    padding: 0.5rem; }
  .c-card__title {
    color: #FFFFFF;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    letter-spacing: 0.145em;
    font-size: 1.8rem; }
  .c-card__text {
    color: #FFFFFF;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    letter-spacing: 0.145em;
    font-size: 1rem;
    padding-top: 1rem; }

.c-card-one {
  background: url(../img/project1.JPG) no-repeat;
  background-size: cover;
  background-position: center; }

.c-card-two {
  background: url(../img/project2.JPG) no-repeat;
  background-size: cover;
  background-position: center; }

.c-card-three {
  background: url(../img/project3.PNG) no-repeat;
  background-size: cover;
  background-position: center; }

.c-card-four {
  background: url(../img/project4.JPG) no-repeat;
  background-size: cover;
  background-position: center; }

.c-card-five {
  background: url(../img/project5.PNG) no-repeat;
  background-size: cover;
  background-position: center; }

.c-card-six {
  background: url(../img/project6.JPG) no-repeat;
  background-size: cover;
  background-position: center; }

@media (min-width: 601px) and (max-width: 1023px) {
  .l-main-projects {
    padding: 5rem 0 5rem 0; }
    .l-main-projects__heading {
      font-size: 3.6rem; }
    .l-main-projects__underline {
      width: 47px; }
    .l-main-projects__card-container {
      display: flex;
      flex-flow: wrap row;
      justify-content: space-around; }

  .c-card {
    width: 383px;
    height: 282px;
    margin-top: 2.6rem; }

  .c-card-one {
    order: 1; }

  .c-card-two {
    order: 3; }

  .c-card-three {
    order: 5; }

  .c-card-four {
    order: 2; }

  .c-card-five {
    order: 4; }

  .c-card-six {
    order: 6; } }
@media (min-width: 1024px) {
  .l-main-projects {
    padding: 5rem 4rem 14rem 4rem; }
    .l-main-projects__heading {
      font-size: 3.6rem; }
    .l-main-projects__underline {
      width: 65px; }
    .l-main-projects__card-container {
      display: flex;
      flex-flow: wrap row;
      justify-content: space-around;
      margin: 0 8% 0 8%; }

  .c-card {
    width: 387px;
    height: 282px;
    margin-top: 2.6rem; }

  .c-card-one {
    order: 1; }

  .c-card-two {
    order: 3; }

  .c-card-three {
    order: 5; }

  .c-card-four {
    order: 2; }

  .c-card-five {
    order: 4; }

  .c-card-six {
    order: 6; } }
.l-project {
  background: #FFFFFF;
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  padding: 3rem 0 3rem 0; }
  .l-project__heading {
    width: 20ch;
    font-family: "Josefin Sans", sans-serif;
    color: #000000;
    font-weight: 700;
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 0.145em; }
  .l-project__underline {
    border-bottom: 2px solid #000000;
    width: 65px;
    margin: 1rem 0 1.2rem 0; }
  .l-project__img-container {
    display: flex;
    flex-flow: wrap column;
    align-items: center; }
  .l-project__img {
    width: 387px;
    height: 282px;
    margin-top: 1.2rem;
    object-fit: cover;
    object-position: center; }
  .l-project__body {
    display: flex;
    flex-flow: wrap column;
    align-items: center; }
  .l-project__title {
    font-family: "Josefin Sans", sans-serif;
    color: #000000;
    font-weight: 700;
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: 0.145em;
    margin: 5rem 0; }
  .l-project__text {
    width: 28ch;
    font-family: "Josefin Sans", sans-serif;
    color: #000000;
    font-weight: 700;
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 0.145em; }
  .l-project__btn {
    font-family: "Josefin Sans", sans-serif;
    color: #000000;
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: 0.145em;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    padding: 1em;
    margin: 6rem 0; }
    .l-project__btn:hover {
      background: #82191E;
      color: #FFFFFF;
      border: 1px solid #82191E; }

@media (min-width: 601px) and (max-width: 1023px) {
  .l-project {
    padding: 6rem 3rem 2.5rem 1.5rem; }
    .l-project__heading {
      font-size: 3.6rem; }
    .l-project__underline {
      border-bottom: 3px solid #000000;
      margin: 1.5rem 0 3.5rem 0; }
    .l-project__content {
      width: 100%;
      display: flex;
      flex-flow: wrap row;
      justify-content: space-between; }
    .l-project__img {
      width: 403px;
      height: 294px;
      margin-top: 2rem; }
    .l-project__body {
      position: fixed;
      right: 4%; }
    .l-project__title {
      margin: 4rem 0 5rem 0; } }
@media (min-width: 1024px) {
  .l-project {
    padding: 6rem 3rem 5rem 4.5%; }
    .l-project__heading {
      font-size: 3.6rem; }
    .l-project__underline {
      border-bottom: 3px solid #000000;
      margin: 1.5rem 0 3.5rem 0; }
    .l-project__content {
      width: 100%;
      display: flex;
      flex-flow: wrap row;
      justify-content: space-between; }
    .l-project__img {
      width: 576px;
      height: 420px;
      margin-top: 1.5rem; }
    .l-project__body {
      position: fixed;
      right: 8%; }
    .l-project__title {
      font-family: "Work Sans", sans-serif;
      font-size: 1.8rem;
      margin: 3.5rem 0 5rem 0; } }

/*# sourceMappingURL=style.css.map */
