.l-about-bottom{
    width: 100%;
    background: $primary-colour;
    &__container{
        display: flex;
        flex-flow: wrap column;
        justify-content: center;
        align-items: center;
        padding: 4rem 0 5.5rem 0;
    }
    &__mobile-header{
        display: none;
    }
    &__img{
        width: 297px;
        margin: 2.2rem 0;
    }
       
}
.c-about-right-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__header{
        color: $tertiary-colour;
        font-family: $heading-font;
        font-weight: $bold;
        text-transform: uppercase;
        font-size: 2.9rem;
        text-align: center;
        letter-spacing: 0.095em;
    }
    &__text--semibold{
        width: 29ch;
        color: $black;
        font-family: $body-font;
        font-weight: $semibold;
        font-size: 1.7rem;
        letter-spacing: 0.065em;
        text-align: center;
        padding: 0.4rem 0;
    }
    &__text{
        width: 30ch;
        color: $black;
        font-family: $body-font;
        font-size: 1.4rem;
        text-align: center;
        padding: 1.5rem 0;
    } 
}
.c-about-right-col__cta{
    display: none;
}
.c-about-right-col__social-media{
    display: none;
}

@media #{$mobile} {
    .l-about-bottom{
        &__mobile-header{
            display: block;
            color: $tertiary-colour;
            font-family: $heading-font;
            font-weight: $bold;
            text-transform: uppercase;
            font-size: 2.9rem;
            text-align: center;
            letter-spacing: 0.095em;
        }     
    }
    .c-about-right-col{
        &__header{
            display: none;
        } 
    }
    .c-about-right-col{
        &__cta{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__btn{
            @include cta-btn;
            color: $black;
            border: 2px solid $black;
            margin: 3rem 0;
            &:hover{
                background: $tertiary-colour;
                color: $primary-colour;
                border: 2px solid $primary-colour;
            }
        }
        &__text--bold{
            font-family: $heading-font;
            font-weight: $bold;
            font-size: 1.3rem;
            letter-spacing: 0.145em;
            text-transform: uppercase;
            color: $black;
            padding-bottom: 2.5rem;
        }
        &__prompt{
            font-family: $body-font;
            font-weight: $medium;
            font-size: 1.5rem;
            letter-spacing: 0.145em;
            color: $black;
        }
        &__mobile{
            font-family: $body-font;
            font-weight: $medium;
            font-size: 2.3rem;
            letter-spacing: 0.145em;
            color: $black;
            padding: 0.6rem;
        }
    }
}

@media #{$tablet} {
    .l-about-bottom{
        position: relative;
        &::before{
            content: "";
            position: absolute;
            width: 100%; height: 100%;
            background-image: url("../img/about-bottom-background.jpeg");
            background-repeat: no-repeat;
            background-size: cover;
            filter: brightness(13%);
            background-position: 50% 21%;
        }
        &__container{
            position: relative;
            width: 100%;
            height: 100%;
            padding: 4.5rem 0 3.7rem 0;
        }
        &__img{
            display: none;
        }
    }
    .c-about-right-col{
        &__header{
            color: $red-highlight;
            font-size: 3.6rem;
        }
        &__text--semibold{
            color: $primary-colour;
            font-size: 2.4rem;
            letter-spacing: 0.015em;
            line-height: 28px;
            padding: 1.5rem 0;
        }
        &__text{
            width: 39ch;
            color: $primary-colour;
            font-size: 1.6rem;
            line-height: 19px;
            letter-spacing: 0.065em;
            padding: 1rem 0;
        }
    }
}

@media #{$desktop} {
    .l-about-bottom{
        &__container{
            flex-flow: wrap row;
            justify-content: space-evenly;
            padding: 6rem 0 5rem 0;
        }
        &__mobile-header{
            display: none;
        }
        &__img{
            width: 389px;
            margin: 0;
        }
           
    }
    .c-about-right-col{
        align-items: flex-start;
        &__header{
            font-size: 3.5rem;
            text-align: left;
        }
        &__text--semibold{
            font-size: 2.3rem;
            letter-spacing: 0.015em;
            text-align: left;
            padding: 2.5rem 0;
        }
        &__text{
            width: 40ch;
            font-size: 1.6rem;
            letter-spacing: 0.065em;
            text-align: left;
            padding: 0;
        }
        &__social-media{
            display: block;
        }
        &__sm-heading{
            color: $black;
            font-family: $heading-font;
            font-weight: $semibold;
            text-transform: uppercase;
            letter-spacing: 0.145em;
            font-size: 1.8rem;
            padding: 5rem 0 2.5rem 0;
        }
        &__img{
            filter: invert(100%);
            height: 32px;
            margin-left: 2.5rem;
        }
    }
}