body{
    // width: 100%;
    background: pink;
    // display: flex;
    // flex-wrap: wrap;
}

.main{
    background: rgb(12, 185, 70);
    // display: flex;
    // flex-direction: column;

    &__hero{
        width: 100%;
        height: 20vh;
        background: indianred;
    }
    &__about-top{
        width: 100%;
        height: 20vh;
        background: lawngreen;
    }
    &__services{
        width: 100%;
        height: 20vh;
        background: gold;
    }
    &__testimonials{
        width: 100%;
        height: 20vh;
        background: olivedrab;
    }
    &__about-bottom{
        width: 100%;
        height: 20vh;
        background: aqua;
    }
    &__credentials{
        display: none;
    }

    @media #{$mobile} {
      
    }

    @media #{$tablet} {
        &__credentials{
            display: block;
            width: 100%;
            height: 10vh;
            background: orangered;
        } 
    }

    @media #{$desktop} {
        &__credentials{
            display: block;
            width: 100%;
            height: 10vh;
            background: maroon;
        } 
    }
}