@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin cta-btn{
    color: $primary-colour;
    border: 2px solid $primary-colour;
    padding: 1.2em 1.9em;
    margin: 1rem 0;
    text-transform: $text-case;
    font-family: $heading-font;
    font-weight: $bold;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
    &:hover{
        background: $primary-colour;
        color: $tertiary-colour;
    }
}