.l-testimonials{
    width: 100%;
    background: $primary-colour;
    padding: 4rem 1rem 3rem 2rem;
    
    &__heading{
        font-family: $heading-font;
        font-weight: $bold;
        font-size: 4.5rem;
        line-height: 136.8%;
        letter-spacing: 0.145em;
        margin: 2rem 0 3rem 0.5rem;
    }
    &__arrow{
        display: none;
    }   
}
.c-slider{
    &__next-left{
        cursor: pointer;
    }
    &__next-right{
        cursor: pointer;
    }
}
.c-card-left{
    background: #F2F2F2;
    width: 316px;
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 0.9rem 2.5rem 0.9rem;
    position: relative;
    &__img-container{
        width: 118.22px;
        height: 313.77px;
        position: relative;
        margin-right: 2rem;
    }
    &__img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 53% 50%;
    }
    &__right{
        width: 53%;
        display: flex;
        flex-flow: wrap column;
        justify-content: flex-end;
    }
    &__arrow{
        width: 11px;
        position: absolute;
        right: 6%;
        top: 9%;
    }
    &__quote{
        font-family: $body-font;
        font-weight: $medium;
        font-size: 1.4rem;
        line-height: 136.8%;
        color: $black;
    }
    &__btn{
        font-family: $body-font;
        font-weight: $bold;
        color: $black;
        font-size: 1rem;
        letter-spacing: 0.145em;
        border: 1px solid $black;
        padding: 1em 0.5em;
        cursor: pointer;
        margin: 1rem 0 0.5rem 0;
        &:hover{
            background: $secondary-colour;
            color: $primary-colour;
            border: 1px solid $secondary-colour;
        }
    }
} 
.c-card-right{
    background: #F6F6F6;
    width: 425px;
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
    &__img-container{
        width: 159px;
        height: 222px;
        position: relative;
        margin-right: 2rem;
    }
    &__img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0% 0%;
    }
    &__right{
        width: 52%;
        display: flex;
        flex-flow: wrap column;
        justify-content: flex-end;
    }
    &__quote{
        font-family: $body-font;
        font-weight: $medium;
        font-size: 1.4rem;
        line-height: 136.8%;
        color: $black;
    }
    &__btn{
        font-family: $body-font;
        font-weight: $bold;
        color: $black;
        font-size: 1rem;
        letter-spacing: 0.145em;
        border: 1px solid $black;
        padding: 0.5em;
        cursor: pointer;
        margin: 1.4rem 0 0.6rem 0;
        &:hover{
            background: $secondary-colour;
            color: $primary-colour;
            border: 1px solid $secondary-colour;
        }
    }
}

@media #{$mobile} {
    .l-testimonials{
        position: relative;
        &__arrow{
            display: block;
            width: 77px;
            position: absolute;
            top: 33%;
            right: 25%;
        }
    }
    .c-slider{
        &__next-left{
            display: none;
        }
        &__next-right{
            width: 16px;
            height: 28px;
            position: absolute;
            bottom: 30%;
            right: 5%;
        }
    }
    .c-card-right{
        display: none;
    }
}

@media #{$tablet} {
    .l-testimonials{
        display: flex;
        flex-flow: wrap column;
        align-items: center;
        padding: 6rem 0;
        &__heading{
            font-size: 3.6rem;
            text-align: center;
            margin: 1rem 0 3rem 0;
        }
    }
    .c-slider{
        @include flex-center;
        &__next-left{
            width: 16px;
            height: 28px;
            margin-right: 7rem;
        }
        &__next-right{
            width: 16px;
            height: 28px;
            margin-left: 7rem;
        }
    }
    .c-card-left{
        display: none;
    }
}

@media #{$desktop} {
    .l-testimonials{
        padding: 6rem 0;
        &__heading{
            justify-self: start;
            font-size: 3.6rem;
            margin: 1rem 0 3rem 13rem;
        }
    }
    .c-slider{
        @include flex-center;
        &__next-left{
            width: 16px;
            height: 28px;
            margin-right: 1rem;
        }
        &__next-right{
            width: 16px;
            height: 28px;
            margin-left: 1rem;
        }
    }
    .c-card-left{
        background: #F6F6F6;
        width: 425px;
        padding: 1.5rem;
        margin: 0 3rem;
        &__img-container{
            width: 159px;
            height: 222px;
        }
        &__arrow{
            display: none;
        }
        &__btn{
            padding: 0.5em;
            margin: 1.4rem 0 0.6rem 0;
        }
    }
    .c-card-right{
        margin: 0 3rem; 
    }
}